<% content_for :title, "Statistiche" %>
<div class="mt-5 mb-3">
  <h3 class="text-primary">
    <i class="fw-bold">
      <%= image_tag("statistic/statistic-logo.svg", class: "img-fluid me-3", size: "58x58", alt: "Statistiche") %>
      Statistiche
    </i>
  </h3>
</div>
<hr class="text-primary mb-1"/>
<%= render "total_iscritti" %>
