<main>
  <% unless devise_controller? %>
    <% flash.each do |type, message| %>
      <div class="mt-3 alert alert-<%= type == "notice" ? "success" : "danger" %> alert-dismissible fade show" role="alert" data-controller="flash">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    <% end %>
  <% end %>
  <%= yield %>
</main>
