<% content_for :title, "Credits - Fitupe" %>
<div class="py-4">
  <h1 class="mb-4">Crediti</h1>
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="h4 card-title"><i>il nome</i></h2>
      <p class="card-text">
        <strong class="h3">Fitupe</strong> è l'acronimo di <strong class="h3">Fi</strong>sher, 
        <strong class="h3">Tu</strong>key e
        <strong class="h3">Pe</strong>arson 
        ( che suona magicamente come il nome di un faraone egizio ), tre tra i più influenti statistici della storia, i cui contributi (analisi della varianza, analisi esplorativa dei dati, correlazione e test d'ipotesi) sono
        alla base della statistica moderna.
      </p>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="h4 card-title"><i>il logo</i></h2>
      <p class="card-text">
        Il logo raffigura il viso stilizzato di un faraone egizio immaginario con un copricapo a
        forma cilindrica, che richiama il sole come fonte di energia e saggezza. Al suo interno è
        racchiusa la lettera greca <strong class="h3">σ</strong> (sigma minuscolo), simbolo della deviazione
        standard: la misura della variabilità su cui si fonda l'analisi statistica.
      </p>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="h4 card-title"><i>il creatore</i></h2>
      <p class="card-text">
        <%= link_to("https://github.com/davosky/fitupe", taget: "blank")  do %>
          <h3>
            Davo Davosky&emsp;The Davosky Connection
          </h3>
        <% end %>
      </p>
    </div>
  </div>
</div>
