<% content_for :title, "Fitupe" %>
<div class="text-center py-5">
  <%= image_tag "main-logo.svg", alt: "Fitupe", class: "img-fluid mb-4", size: "371x648" %>
  <p class="lead col-lg-8 mx-auto">
    Fitupe raccoglie e analizza le iscrizioni al sindacato
    <br/>
    per costruire statistiche coerenti sul loro andamento nel tempo.
  </p>
</div>
