<% content_for :title, "Modifica azzonamento" %>
<div class="mt-5 mb-3">
  <h3 class="text-warning">
    <i class="fw-bold">
      <%= image_tag("zoning/zoning-logo-edit.svg", class: "img-fluid me-3", size: "58x58", alt: "Azzonamenti") %>
      Modifica Azzonamento
    </i>
  </h3>
</div>
<hr class="text-warning m-3"/>
<%= render "form", zoning: @zoning %>
