<% content_for :title, @zoning.descrizione_azzonamento %>
<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h4 mb-0"><%= @zoning.descrizione_azzonamento %></h1>
  <%= link_to "Torna all'elenco", zonings_path, class: "btn btn-outline-secondary" %>
</div>
<div class="card shadow-sm">
  <div class="card-body p-4">
    <dl class="row mb-0">
      <dt class="col-sm-3">Codice</dt>
      <dd class="col-sm-9"><%= @zoning.codice_azzonamento %></dd>
      <dt class="col-sm-3">Descrizione</dt>
      <dd class="col-sm-9"><%= @zoning.descrizione_azzonamento %></dd>
    </dl>
  </div>
</div>
