<% content_for :title, "Modifica integrazione FILLEA" %>
<div class="mt-5 mb-3">
  <h3 class="text-warning">
    <i class="fw-bold">
      <%= image_tag("integration_fillea/integration_fillea-logo-edit.svg", class: "img-fluid me-3", size: "58x58", alt: "Integrazioni FILLEA") %>
      Modifica Integrazione FILLEA
      &nbsp;
      <%= image_tag("integration_fillea/fillea.svg", class: "img-fluid me-3", size: "36x36", alt: "Integrazioni FILLEA") %>
    </i>
  </h3>
</div>
<hr class="text-warning m-3"/>
<%= render "form", integration_fillea: @integration_fillea %>
