<% content_for :title, "Nuova integrazione FILLEA" %>
<div class="mt-5 mb-3">
  <h3 class="text-success">
    <i class="fw-bold">
      <%= image_tag("integration_fillea/integration_fillea-logo-new.svg", class: "img-fluid me-3", size: "58x58", alt: "Integrazioni FILLEA") %>
      Nuova Integrazione FILLEA
    </i>
  </h3>
</div>
<hr class="text-success m-3"/>
<%= render "form", integration_fillea: @integration_fillea %>
